doctype html 
html
    head    
        title Dance academy
        block style
        block scripts  
            
    body
        nav#navbar 
            ul
                li #[a(href="/") Home]
                li #[a(href="/") about]
                li #[a(href="/") services]
                li #[a(href="/contact") contact us]
        
        
        block content 
        footer#fotter 
            |2021  © Gurgaon Dance Academy
    

        