extends base.pug

block scripts 
    script(src="/static/index.js")

block style  
    style
        include ../static/style.css

block content 
   
               
     section#intro
        div Welcome TO Dance Academy
        
        div Any body can dance
     section#Mission
        h2 Our Mission
        div.card1
            h3 Learn Choreography To Your Favorite Songs
            p Dance to the music that makes YOU want to move at any skill level.
            
            
        div.card2
            h3 Master A Variety Of Styles
            p Learn moves, skills, and full routines in a range of popular styles.
            
        div.card3
            h3 Designed With The Best
            p Every class and program is thoughtfully designed by dance style pioneers and sought after choreographers.
           

